@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
footer .tour-form, main section table, main .grid-tienda, main .media-grid div h2, main .media-grid div h3, main .media-grid div h4, main .media-grid div h5, main .media-grid div h6, main .album-grid div h2, main .album-grid div h3, main .album-grid div h4 {
  font-weight: 500;
  color: rgb(27, 25, 25);
  font-size: 22px;
  margin-top: 8px;
  text-align: center;
}

* { /* selector universal, se usa para reseteo ----*/
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
}

header nav.mobile {
  display: none;
}

ul {
  list-style: none;
}

p {
  padding: 0 20px;
}

header .bg-custom {
  background-color: rgb(237, 230, 230);
}
header .bg-custom div li > a {
  color: #c62828;
  text-decoration: none;
  font-size: 20px;
}

li > a, .fa-solid {
  color: #c62828;
  text-decoration: none;
  font-size: 20px;
}

main h1 {
  color: rgb(201, 98, 98);
  font-family: "Playfair Display", sans-serif;
  font-size: 75px;
  text-align: left;
  padding-bottom: 20px;
  margin: 20px;
}
main h1.h1-inicio {
  text-align: center;
}
main .storie-text {
  font-weight: 500;
  color: rgb(27, 25, 25);
  font-size: 22px;
  text-align: left;
}
main .storie-text .slide div img, main .storie-text .carousel-inner div img {
  display: inline-block;
  width: 100%;
  height: 550px;
  object-fit: cover;
}
main .storie-text .subtitulo-inicio {
  color: rgb(201, 98, 98);
  font-size: 35px;
  padding: 25px 20px;
}
main .album-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 80px;
  align-items: center;
}
main .album-grid .album1 {
  grid-column: 1;
  grid-row: 1;
}
main .album-grid .album2 {
  grid-column: 2;
  grid-row: 1/span 2;
  object-position: center top;
}
main .album-grid .album3 {
  grid-column: 1;
  grid-row: 2;
}
main .album-grid div img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 10%;
  padding: 10px 20px;
}
main .album-grid div p {
  text-align: justify;
  font-size: 20px;
}
main .media-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 60px;
  align-items: center;
}
main .media-grid .media1 {
  grid-column: 1;
  grid-row: 1;
}
main .media-grid .media2 {
  grid-column: 2;
  grid-row: 1/span 2;
  object-position: center;
}
main .media-grid .media3 {
  grid-column: 3;
  grid-row: 1;
}
main .media-grid .media4 {
  grid-column: 3;
  grid-row: 2;
}
main .media-grid .media5 {
  grid-column: 1;
  grid-row: 2;
  margin-bottom: 60px;
}
main .media-grid div img, main .media-grid div iframe {
  width: 100%;
  height: auto;
  display: block;
  padding: 10px 20px;
}
main .media-grid div img.rotate, main .media-grid div iframe.rotate {
  transition: transform 2s ease-in 4ms;
}
main .media-grid div img.rotate:hover, main .media-grid div iframe.rotate:hover {
  transform: rotate(-5deg);
}
main .media-grid div .fa-play {
  padding: 0px 200px;
}
main .grid-tienda {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  padding-bottom: 90px;
}
main .grid-tienda .prod1 {
  grid-column: 1;
  grid-row: 1;
}
main .grid-tienda .prod2 {
  grid-column: 2;
  grid-row: 1;
}
main .grid-tienda div img {
  width: 100%;
  height: 510px;
  display: block;
  padding: 10px 20px;
  object-fit: cover;
}
main .grid-tienda div #precio {
  font-weight: 800;
  color: rgb(57, 26, 31);
  font-size: 20px;
}
main .grid-tienda div label {
  padding-left: 20px;
}
main .grid-tienda div .btn {
  background-color: #c62828;
  border-color: #c62828;
  color: white;
  padding: 8px 10px;
}
main .grid-tienda div .btn:hover {
  background-color: rgb(201, 98, 98);
  border: #c62828;
}
main .gira-promo {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
  padding: 20px 20px;
  margin: 20px;
  font-weight: 500;
  color: rgb(0, 0, 0);
  font-size: 22px;
  margin-top: 8px;
  text-align: center;
}
main .gira-promo .gira-promo-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
main .gira-promo img {
  width: 40%;
  height: auto;
  display: inline-block;
  border-radius: 10%;
}
main .gira-promo nav a {
  text-decoration: none;
  background-color: whitesmoke;
  border: solid #c62828;
  color: #c62828;
}
main .gira-promo nav a:hover {
  background-color: rgb(201, 98, 98);
  border-color: rgb(201, 98, 98);
  color: white;
}
main section table {
  width: 100%;
  border-collapse: collapse;
  margin: 30px 0;
}
main section table tr .titulo-seccion {
  text-align: left;
  padding: 10px 40px;
  text-decoration: underline;
}
main section table tr td {
  padding: 8px;
}
main section table tr td a.btn {
  background-color: rgb(201, 98, 98);
  border: 2px solid rgb(201, 98, 98);
  color: rgb(27, 25, 25);
}
main section table tr td a.btn:hover {
  background-color: rgb(201, 98, 98);
  border-color: rgb(201, 98, 98);
  color: whitesmoke;
}
main section table tr td a.btn:visited {
  color: rgb(201, 98, 98);
  background-color: whitesmoke;
}

footer .tour-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: nowrap;
  width: 90vw;
  height: 65vh;
  margin: 31px auto;
  align-content: center;
}
footer .tour-form .tour-subtitulo {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-wrap: nowrap;
  text-align: left;
  padding: 30px;
}
footer .tour-form .tour-subtitulo .tour-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: nowrap;
  padding: 20px 20px;
}
footer .tour-form .tour-suscribe {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
  flex-wrap: nowrap;
  margin-top: 100px;
  padding: 60px;
}
footer .tour-form .tour-suscribe .boton-submit {
  background-color: #c62828;
  border-color: #c62828;
}
footer .tour-form .tour-suscribe .boton-submit:hover {
  color: white;
  background-color: rgb(201, 98, 98);
  border: solid #c62828;
}
footer div .container-redes {
  margin: 5px auto;
  padding: 10px;
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: nowrap;
}
footer div .container-redes li a .fa-brands:hover {
  filter: drop-shadow(0 4px 10px rgba(188, 15, 107, 0.9));
}
footer div .fa-copyright {
  margin: 10px;
}

/* --------RESPONSIVE (se adapta a dispositivos moviles con enfoque desktop first) */
@media screen and (max-width: 768px) {
  header nav.desktop {
    display: none;
  }
  header nav.mobile {
    display: block;
  }
  main h1 {
    font-size: 50px;
  }
  main .storie-text div .carousel-inner img {
    width: 30vw;
    height: 31vh;
  }
  main .album-grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    gap: 4px;
  }
  main .album-grid div img {
    border-radius: 22%;
  }
  main .album-grid div p {
    font-size: 0.9rem;
    max-height: none;
    overflow: visible;
  }
  main .media-grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    flex-wrap: nowrap;
  }
  main .grid-tienda {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: nowrap;
  }
  main .grid-tienda div img {
    height: auto;
  }
  main .gira-promo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
  }
  main .gira-promo img {
    display: block;
    width: 100%;
    padding-bottom: 20px;
  }
  main section table {
    font-size: 15px;
  }
  main section table td {
    padding: 10px 5px;
  }
  main section table td a.btn {
    padding: 0 6px;
    font-size: 12px;
  }
  footer .tour-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    font-weight: 400;
    font-size: 15px;
  }
  footer .tour-form .tour-suscribe {
    align-items: center;
    margin-top: 0;
    padding: 0;
  }
  footer div .container-redes {
    margin: 5px auto;
    padding: 10px;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: nowrap;
  }
}

/*# sourceMappingURL=estilos.css.map */
