@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

$font-ppal: "Playfair Display", sans-serif;
$color-text: rgb(201, 98, 98);



@mixin flexbox($direction, $j-content, $align-item, $wrap) {
    display:flex;
    flex-direction: $direction;
    justify-content: $j-content;
    align-items: $align-item;
    flex-wrap: $wrap;
}

%text-style{
        font-weight: 500;
        color:rgb(74, 70, 70);
        font-size:22px;
        margin-top: 8px;
        text-align:center;
}



*{   /* selector universal, se usa para reseteo ----*/
    margin:0;
    padding:0;
    box-sizing: border-box;
}
 
body{
    font-family: "Raleway",
    sans-serif;
    font-weight:600;
    background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
}

header nav.mobile{
    display:none;
}



ul{
    list-style: none;
}

p{
    padding:0 20px;
}

header{
      .bg-custom{
        background-color:  rgb(237, 230, 230);
        div{    
            li>a{ // todos los enlaces que se encuentren dentro de una etiqueta de lista tendran ciertas caracteristicas
                color:$color-text;
                text-decoration:none;
                font-size: 20px;
            }

        }
       }
}


li>a, .fa-solid { 

    color:$color-text;
    text-decoration:none;
    font-size: 20px;

}

main{
    h1 {
        color: $color-text;
        font-family: $font-ppal;
        font-size:75px;
        text-align: left;
        padding-bottom: 20px;
        margin:20px;

        &.h1-inicio {
            text-align: center;
        }
    }
    .storie-text{
            font-weight: 500;
            color:rgb(112, 104, 104);
            font-size:22px;
            text-align: left;
            .slide, .carousel-inner{
                div{
                    img{
                        display: inline-block;
                        width: 100%;
                        height: 550px;
                        object-fit: cover;
                    }
                }
            }
            .subtitulo-inicio{
                 color: $color-text;
                font-size:35px;
                padding: 25px 20px;
            }    
    }
    .album-grid{
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            gap: 80px;
            align-items: center;
            .album1 {
                grid-column: 1;
                grid-row: 1;
            }
            .album2 {
                grid-column: 2;
                grid-row: 1/ span 2; 
                object-position: center top;
            }
            .album3 {
                grid-column: 1;
                grid-row: 2;
            }
            div{
                img{
                    width: 100%;
                    height: auto;
                    display: block;
                    border-radius: 10%;
                    padding: 10px 20px; 
                }
                h2,h3,h4{
                    @extend %text-style;
                }
            }
           
    }
    .media-grid{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            gap: 60px;
            align-items: center;
            
            .media1 {
                grid-column: 1;
                grid-row: 1;
            }

            .media2 {
                grid-column: 2;
                grid-row: 1/ span 2; 
                object-position:center;
            }

            .media3 {
                grid-column: 3;
                grid-row: 1;
            }

            .media4{
                grid-column: 3;
                grid-row: 2;
            }
            div{
                img,iframe{
                    width: 100%;
                    height: auto;
                    display: block;
                    padding: 10px 20px; 
                    &.rotate{
                        transition:transform 2s ease-in 4ms;
                        &:hover{
                            transform:rotate(-5deg);
                        }
                    }
                }
                .fa-play{
                    padding: 0px 200px;
                }
                h2,h3,h4,h5{
                        @extend %text-style;
                }
            }
           
    }
    .grid-tienda{
            display:grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr;
            align-items: center;

            font-weight: 500;
            color: $color-text;
            font-size:20px;
            .prod1{
                grid-column: 1;
                grid-row: 1;
            }
            .prod2 {
                grid-column: 2;
                grid-row: 1;
            }
            div{
                img{
                    width: 100%;
                    height: 510px;
                    display: block;
                    padding: 10px 20px;
                    object-fit: cover;

                }
                #precio{
                    font-weight: 800;
                    color: rgb(57, 26, 31);
                    font-size:18px;
                   
                }
                label{
                     padding-left:20px;
                }
                .btn{
                    background-color: #c62828;
                    border-color: #c62828;
                    color: white;
                    padding: 8px 10px;
                     &:hover{
                            background-color: $color-text;
                            border:#c62828;
                            
                        }
                }
            }
    }
    .gira-promo{
            background-color:#f2f2f2;
            @include flexbox(row, space-around, center, nowrap);
            padding: 20px 20px;
            margin: 20px;
 
            font-weight: 500;
            color:rgb(0, 0, 0);
            font-size:22px;
            margin-top: 8px;
            text-align:center;

            .gira-promo-text{
                    @include flexbox(column, center, center, nowrap);
            }
            img{
                width: 40%;
                height: auto;
                display: inline-block;
                border-radius: 10%;
            }
            nav{
                a{
                    color: $color-text ;
                    text-decoration: none;
                    background-color: whitesmoke;
                    border-color: $color-text;
                    &:hover{
                        background-color: $color-text; 
                        border-color: $color-text;     
                        color: white;  
                    }
                }
            }
    }
    section{
            table{
                width: 100%;
                border-collapse: collapse;
                margin: 30px 0;

                font-weight: 500;
                color:rgb(74, 70, 70);
                font-size:22px;
                margin-top: 8px;
                text-align:center;
                tr{
                    .titulo-seccion{
                        text-align:left;
                        padding: 10px 40px;
                        text-decoration: underline;
                    }
                    
                    td{
                        padding: 8px;
                        a{
                            &.btn {
                                background-color: $color-text;
                                border: 2px solid $color-text; 
                                color: rgb(26, 24, 24);
                           

                            &:hover {
                                background-color: $color-text; 
                                border-color: $color-text;
                                color: whitesmoke;
                            }
                           
                            &:visited{
                                color: $color-text;
                                background-color: whitesmoke;
                            }
                        }
                        }
                    }

                }
            }
    }
}

footer{
    .tour-form{
            @include flexbox(row, center, flex-start, nowrap);
            width: 90vw;
            height: 65vh;
            margin: 31px auto;
            align-content: center;
                
            font-weight: 500;
            color:rgb(74, 70, 70);
            font-size:22px;
            margin-top: 8px;
            text-align:center;

            .tour-subtitulo{
                    @include flexbox(column, space-evenly, flex-start, nowrap);
                    text-align: left;
                    padding:30px;

                    .tour-input{
                            @include flexbox(column, center, flex-start, nowrap);
                            padding: 20px 20px;
                    }

            }
            .tour-suscribe{
                    @include flexbox(column, space-around, flex-end, nowrap);
                    margin-top:100px;
                    padding: 60px;
                    
                    .boton-submit{
                        background-color: #c62828;
                        border-color: #c62828;

                        &:hover{
                            color:white;
                            background-color: $color-text;
                            border: solid #c62828;
                            
                        }
                    }
            }
    }


    div{
        .container-redes{
            margin: 5px auto;
            padding: 10px;
            width: 30%;
            @include flexbox(row, space-evenly, center, nowrap); 
            li{
                a{
                    .fa-brands{
                        &:hover{
                            filter:drop-shadow(0 4px 10px rgba(188, 15, 107, 0.9));
                        }
                    }
                }
            }
        }
        .fa-copyright{
            margin: 10px;
        }
    }
}

/* --------RESPONSIVE (se adapta a dispositivos moviles con enfoque desktop first) */
@media screen and (max-width: 768px) {

    header nav.desktop{
        display: none;
    }

    header nav.mobile{
        display: block;
    }

    main{
        h1{ 
            font-size:50px;
        }
        .storie-text{
            div{
                .carousel-inner{
                        img{
                             width: 30vw;
                            height: 31vh;
                        }
                }
            }
        }

        .album-grid{
            gap: 5px;
        }
        .media-grid{
            @include flexbox(column, center, stretch, nowrap);
        }
        .grid-tienda{
            @include flexbox(column, center, flex-start, nowrap);
            div{
                img{
                    height:auto;
                }
            }
        }
        
        .gira-promo{
            @include flexbox(column, center, center, nowrap);
            img{
                display: block;
                width: 100%;
                padding-bottom:20px;
    
            }

        }
        section{
            table{
                font-size: 15px;
                td {
                    padding: 10px 5px;
                    a.btn {
                        padding: 0 6px; 
                        font-size: 12px;   
                    }
                }
            }

        }
    }

    footer{
        .tour-form{
            @include flexbox(column, center, center, nowrap);
            font-weight: 400;
            font-size:15px;

            .tour-suscribe{
                align-items: center;
                margin-top:0;
                padding: 0;
    
            }
        }
        div{
            .container-redes{
                margin: 5px auto;
                padding: 10px;
                width: 50%;
                @include flexbox(row, space-evenly, center, nowrap);
            }
        }
    }

}



